# dependencies
/node_modules
/.pnp
.pnp.cjs

# testing
/coverage

# production
/build
/dist
/dev-dist

# misc
.DS_Store
*.env
*.env.local
.npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea